* {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    background-color: #ffecd6;
}

header {
    text-align: center;
    color: #11235a;
}
.container {
    border: 1px solid transparent;
    width: 60%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #ded0b6;
    border-radius: 10px;
}
.user-container {
    border: 1px solid transparent;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 10px;
}
form {
    display: flex;
    justify-content: center;
}

.recipe-text {
    width: 80%;
    opacity: 0.8;
    padding: 10px;
    margin-right: 20px;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 800;
    color: #11235a;
    border: 1px solid transparent;
}
.recipe-submit {
    padding: 10px;
    font-size: 14px;
    font-weight: 800;
    border-radius: 10px;
    background-color: #11235a;
    color: #f8f6f0;
    cursor: pointer;
    border: 1px solid transparent;
}
.recipe-submit:hover {
    transition: solid 150ms ease-in-out;
    background-color: #3559e0;
}
.hint {
    font-style: italic;
    font-size: 14px;
    text-align: center;
    position: relative;
    bottom: 10px;
    border: 1px solid transparent;
    width: 40%;
    display: block;
    margin: 0px auto;
    padding-bottom: 10px;
    opacity: 0.9;
    color: #11235a;
    font-weight: 700;
}
.recipe-container {
    border-left: 10px solid #11235a;
    padding: 10px;
    display: block;
    margin: 0 auto;
    font-size: 12px;
    background-color: #f8f4ec;
    border-radius: 10px;
    max-width: 80%;
    position: relative;
    bottom: 8px;
    color: #11235a;
    font-weight: 600;
}
.hidden {
    display: none;
}
footer {
    text-align: center;
    margin: 10px auto;
    font-weight: 500;
    font-size: 14px;
}
a {
    color: #11235a;
}
